.team { 
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 25%;
  }
  
.team h1{
background-color: #fff;
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
font-size: 2.5rem;
display: flex;
flex-direction: column;
align-items: center;
}

.team__container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
grid-gap: 40px;
justify-content: center;
flex-wrap: wrap;
align-items: center;
text-align: center;
resize: horizontal;
}

.team__container .team__member-group { 
position: relative;
overflow: hidden;
justify-content: center;
}

.team__member-individual {
margin: 40px 0;
}

.caption { 
font-size: 100%;
}

.team_video { 
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 20px;
}