.diff { 
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 25% auto;
    width: 100%;
  }
  
.diff p { 
  color:  #fff;
  font-size: 1.5rem;
  max-width: 80%;
  margin: 3rem auto 5rem auto;
  text-align: center;
}

.diff h1{
  background-color: #fff;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diff__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  resize: horizontal;
  position: relative;
  overflow: hidden;
  padding: 0 100px;
}


.caption { 
  font-size: 1.5rem;
}

.diff_video { 
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

@media screen and (max-width: 960px) {
  .diff__container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 0 20px;
  }

}