.home { 
    height: calc(100vh - 120px);
    width: 100%;
}

.home__textcontainer { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 { 
    padding-top: 7%;
    color: #fff;
    font-size: 9rem;
}

.home_textcontainer-spiel {
    color: #fff;
    text-align: center;
    margin: 10px 25px;
    font-size: 1.4rem;
    margin-bottom: 30px;
}

.home__textButton { 
    padding: 8px 32px;
    border-radius: 15px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: all 0.35s;
    margin: 6px 0;
    width: 25%;
    border: 2px solid #fff;
}

.home__textButton a { 
    color:#fff;
    cursor: pointer;
    text-decoration: none;
}

.home__textButton:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.home_textcontainer-launch { 
    color: #fff;
    text-align: center;
    margin: 10px 25px;
    font-size: 2.3rem;
}

.home p{ 
    color: #fff;
}

.videoTag { 
    position: absolute; 
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

@media screen and (max-width: 960px) {
    .home h1 { 
        padding-top: 7%;
        color: #fff;
        font-size: 6rem;
    }

    .home h3{ 
        color: #fff;
        text-align: center;
        margin: 10px 25px;
        font-size: 1.3rem;
    }

    .home__textButton { 
        width: 60%;
    }
}