  .services {
    margin-top: 100vh;
    padding-top: 200px;
    padding-bottom: 200px;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130vh;
  }
  
  .services h1 {
    background-color: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 4rem;
  }

  .services p { 
    color:  #fff;
    font-size: 1.5rem;
    max-width: 80%;
    margin: 3rem auto 5rem auto;
    text-align: center;
  }
  
  .services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 0.35s;
  }
  
  .services__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
      );
    background-size: cover;
    position: relative;
    color: #fefffe;
    border: 2px solid #fff;
    border-radius: 5px;
    transform: scale(1);
    transition: all 0.35s;
  }

  .services__card video { 
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
  }
  
  
  .services__card:nth-child(2) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.9) 100%
      ),
  }
  
  .services__card h2 {
    padding: 0 10px;
    padding-top: 50px;
    text-align: center;
    font-size: 2rem;
    
  }
  
  .services__card p {
    text-align: center;
    padding: 10px 10px;
  }
 
  .services__card:hover {
    transform: scale(1.075);
    transition: all 0.35s;
  }
  
  @media screen and (max-width: 960px) {
    .services {
      height: 1800px;
      padding-top: 400px;
      padding-bottom: 400px;
    }
  
    .services h1 {
      font-size: 2rem;
      margin-top: 12rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .services {
      height: 1400px;
    }
  
    .services h1 {
      font-size: 1.2rem;
    }
  
    .services__card {
      width: 300px;
    }
  }